html {
  scroll-behavior: smooth;
}
body {
  background-color: slategrey;
}
.container {
  max-width: 75rem;
  min-height: 10rem;
  margin: 0.7rem;
  background-color: aliceblue;
  padding: 1rem;
  margin: auto;
  /* border-radius: 3rem; */
}
#pageheader {
  background-color: rgb(61, 83, 94);
  min-height: auto;
  padding: 0.25rem;
  /* width: 2800px; */
}
#spotifylogo {
  display: flex;
  justify-content: space-between;
}
#logo {
  background-image: url(Images/portfoliologo/semoon.png);
  width: 6.25rem;
  height: 6.25rem;
  border: 1px solid none;
}
#logo:hover {
  background-image: url(Images/portfoliologo/sesun.png);
  transform: rotateY("angle");
}
iframe {
  display: block;
  width: 400px;
}
#pageheader .container {
  min-height: auto;
  /* border-radius: 3rem 3rem 0rem 0rem; */
}
#pageheader nav {
  text-align: center;
}
#pageheader nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#pageheader nav ul li {
  border: 1px solid black;
  padding: 1rem;
  margin: 2px;
  background-color: rgb(99, 130, 129);
}
#pageheader nav ul li a {
  color: rgb(193, 193, 193);
}
#pageheader nav ul li:hover {
  background-color: #605c66;
  transition: 0.5s;
  /* padding: 2.5rem; */
}
#media {
  background-color: #f5ebda;
  min-height: 10rem;
  padding: 1rem;
}
#mediaimage {
  background-image: url(Images/cms3.gif);
  background-size: cover;
  aspect-ratio: 16 / 9;
}
#career {
  background-color: rgb(42, 64, 107);
  min-height: 10rem;
  padding: 1rem;
}
#pagecontent {
  background-color: lightgreen;
  min-height: 10rem;
  padding: 1rem;
}
blockquote {
  padding: 0.5rem;
  width: 50%;
  margin: 0 auto;
  font-size: 1.25rem;
}
blockquote + span {
  padding: 0.75rem;
  display: block;
  width: 50%;
  margin: 0 auto;
  text-align: right;
}
#semesters {
  display: flex;
  align-content: space-around;
  flex-direction: column;
}

#semester1 {
  background-color: #9da5bc;
  min-height: 10rem;
  padding: 1rem;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

#semester1 .container,
#semester2 .container {
  flex: 1;
  height: 90%;
  max-width: 35.5rem;
  margin: 0;
}

#semester2 {
  background-color: rgb(152, 154, 154);
  min-height: 10rem;
  padding: 1rem;
  flex: 1;
  display: flex;
  justify-content: flex-start;
}
#semesters,
a:hover {
  color: #725561;
}
a:link {
  color: #a45e5e;
}
#pagecontent {
  background-color: rgb(97, 96, 103);
  min-height: 10rem;
  padding: 1rem;
}
#pagefooter {
  background-color: pink;
  min-height: auto;
  padding: 1rem;
}
#pagefooter .container {
  background-color: whitesmoke;
  min-height: auto;
  text-align: center;
}
#aifooter {
  background-color: pink;
  padding: 1rem;
  min-height: auto;
  /* border-radius: 3rem;
  border-radius: 3rem; */
}
#aifooter .container {
  min-height: auto;
  text-align: center;
  /* border-radius: 2rem; */
}
#subfooter {
  background-color: pink;
  min-height: 10rem;
  padding: 1rem;
  text-align: center;
}
audio {
  border: 5px solid steelblue;
  background-color: steelblue;
  border-radius: 3rem;
  display: block;
  margin: auto;
  align-content: center;
}
/* #subfooter .container {
  border-radius: 0rem 0rem 2rem 2rem;
} */

@media screen and (min-width: 600px) {
  #pageheader nav {
    position: sticky;
    flex-direction: row;
  }

  #pageheader nav ul {
    margin-top: 2rem;
  }

  #pageheader nav ul li {
    display: inline-block;
  }
  #pageheader nav {
    display: block;
  }
  #pagecontent {
    background-color: #612c37;
  }
  #semesters {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1000) {
  #pagecontent {
    background-color: purple;
  }

  /* #media{
        max-height: 500px;
        background-size: cover;
    } */
}
